<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>V-LOVE.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>042B402F1BDE1BDD007E063F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>042B40481BDE1BDD007E063F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>042B40531BDE1BDD007E063F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
