<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>10000</key>
	<string>lR2IdMLN7ekvrtMALH7SL8fLeT0%3D</string>
	<key>10007</key>
	<string>nMmh1kSvUy6slrP3XIphwUM3h3A%3D</string>
	<key>10001</key>
	<string>Px%2FzEtPozAe7%2B5h%2BmMDdwhGrKLI%3D</string>
	<key>10002</key>
	<string>R7oyVCa8mGiJ3h0J1vmWpt97WJ0%3D</string>
	<key>10005</key>
	<string>cbec%2FxuLNQgMIrdb7adKq8beR8Q%3D</string>
	<key>10006</key>
	<string>1%2BqscgP2ElEHT%2FVJkbCju%2BMWa7I%3D</string>
</dict>
</plist>
