<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>10000</key>
	<string>bU7p5AuFamVMli96BRik2XU%2BXWs%3D</string>
	<key>10007</key>
	<string>OtsH%2F2qegUHuj%2BUf%2B96Q546Dnic%3D</string>
	<key>10001</key>
	<string>FGQsSm3755hxCIkkXj%2BrsNhhHSU%3D</string>
	<key>10002</key>
	<string>0LanDBX8%2BJ3TbqUrPooKAhAhmLU%3D</string>
	<key>10005</key>
	<string>lTUF0Ap%2B1L5SS7syVHNAvQLbrSo%3D</string>
	<key>10006</key>
	<string>TydDYKejFgRpSBY8TxSme%2F69%2B6w%3D</string>
</dict>
</plist>
