<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>7</key>
	<string>LgwH64TYrEOUUJOatXr7WC5ctK4%3D</string>
	<key>8</key>
	<string>BoWQ7r2PwF4QGTe886WNI7pHrio%3D</string>
	<key>9</key>
	<string>T%2BpyLQ0fFuVDxB6xr5mEeZwRgxI%3D</string>
	<key>10</key>
	<string>5PX%2BJQK4CRLvYwPjllvDi6afQok%3D</string>
	<key>12</key>
	<string>Q%2Bgom64zS%2BaVcfIH61xSHz8ToEE%3D</string>
	<key>20</key>
	<string>HgVSjMqukKsPLjOlBhk7kYJj7cw%3D</string>
</dict>
</plist>
