<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>7</key>
	<string>UhcaM%2FVWM7uFkIujMM6b9O9WAHg%3D</string>
	<key>8</key>
	<string>EhMEQsQCDHArgpkgPQjmu2sb3oA%3D</string>
	<key>9</key>
	<string>de7i4VdYtueNNQlUFV%2FQNljIkGo%3D</string>
	<key>10</key>
	<string>KgqdIjlAad5RIq3HnTDvT6yNzE8%3D</string>
	<key>12</key>
	<string>4JAEa1NBYYgr669H0h%2BJcw97d%2BM%3D</string>
	<key>20</key>
	<string>S1LWVl7gRTChZ%2FxoOwLsVEiPIUM%3D</string>
</dict>
</plist>
