<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>10006</key>
	<string>有话想对V-LOVE说？在这里一吐为快！</string>
	<key>10000</key>
	<string>记录分享你们爱的点滴</string>
	<key>10007</key>
	<string>每个星座都有她的爱情故事</string>
	<key>10001</key>
	<string>感情之路，不再困惑</string>
	<key>10002</key>
	<string>最具正能量的异地恋板块</string>
	<key>10005</key>
	<string>婚前婚后，告诉大家你们爱的历程</string>
</dict>
</plist>
