<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>7</key>
	<string>洗手做羹肴，唯有美食与爱不可辜负</string>
	<key>8</key>
	<string>DIY，每一个细节都储存着满满的心意</string>
	<key>9</key>
	<string>七大洲五大洋，都是咱们情侣照的背景</string>
	<key>10</key>
	<string>每个周末一起看一部温暖的电影</string>
	<key>12</key>
	<string>字里行间里的爱情</string>
	<key>20</key>
	<string>高调秀恩爱，最新情侣装搭配指南</string>
</dict>
</plist>
