<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>10000</key>
	<string>AJkfrWOREBFokc66KKXf4z7IpzY%3D</string>
	<key>10007</key>
	<string>%2BDBhNHKGkVn1ea3sAyQnuEhZoIw%3D</string>
	<key>10001</key>
	<string>KuI0oLvPnGS4BhYT3fqiqHLNgRY%3D</string>
	<key>10002</key>
	<string>keATr2Y%2BCVP08HtWCpVkMPPYlP4%3D</string>
	<key>10005</key>
	<string>OBxKz71K%2FeW1uBWS9du%2Bkj0500M%3D</string>
	<key>10006</key>
	<string>KOPToW%2BxRVC87K2tHjuR23FpGdo%3D</string>
</dict>
</plist>
