<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>7</key>
	<string>bfBXikggB6YxBzd3%2B0faiUY30kY%3D</string>
	<key>8</key>
	<string>EVtsKlrfqs3vPL1nJGA3BbLuxnA%3D</string>
	<key>9</key>
	<string>Bfkabu63vLCNTXZKiFyhmy%2FeY90%3D</string>
	<key>10</key>
	<string>YtN08rBXOHHsFyJoRZACKQMWAxA%3D</string>
	<key>12</key>
	<string>E9MjlSnAs4vBE7JMa%2FxbGGNZ2sM%3D</string>
	<key>20</key>
	<string>%2BIyJqntg2WaPurDLHhtLpsWZR8Q%3D</string>
</dict>
</plist>
